{% extends './layout.html' %}

{% block title %}{{ data.titulo }}{% endblock %}

{% block body %}
{% include './header.html' %}
<div class="texto">
    <p>Seguimientos</p>
</div>
<div class="texto-des">
    <p>En este apartado puedes generar el texto para realizar seguimiento de los casos en Backlog.</p>
</div>
<div>
    <form>
        <div class="nom_completo">
            <label for="nombre">Nombre Completo:</label>
            <input type="text" id="nombre" class="campo-descripcion" required>
        </div>
        <div class="num_incidente">
            <label for="incidente">Numero de incidente:</label>
            <input type="text" id="incidente" class="campo-descripcion2" required>
        </div>
        <button type="button" id="boton" style="display: none;" onclick="mostrar()">Generar texto</button>
      </form>
      
      <p class="texto_generado" id="texto"></p>
      
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/seguimientos.js') }}"></script>

{% endblock %}